<h3>Building Application to:</h3>
<ol>
  <li>Log list of reusable packages</li>
  <li>Track the journeys off packages</li>
  <li>Reward customers for using these packages</li>
  <li>Compare success of different businesses</li>
</ol>

<hr>

<h3>Links to:</h3>
<ol>
  <li>Packages</li>
</ol>
